* {
    margin: 0;
    padding: 0;
}

header img{
    position: absolute;
    z-index: 0;
}

header h1{
    color: white;
    position: absolute;   
}
#toptekstur {
    width: 100%;
}

.paralax {
    width: 100%;
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.logo{
    width: 25%;
}

.bg1 {
    background-image: url(../images/forsidebillede1.jpg);
}


#forsideslogan {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 400%;
    width: 100%;
    text-align: center;
}

.spacer {
    color: white;
    background-color: black;
    width: 100%;
    height: 60px;
    text-align: center;
       
}

.material-icons {
     
}
.spacer i{
    font-size: 4em;
}



.overskrift {
    font-size: 300%;  
    text-align: center;
}

.overskrifthvid {
    font-size: 300%;  
    text-align: center;
    color: white;
    padding-top: 4%
    
}

.broedtekst {
    font-size: 150%;
    text-align: center;
}

.broedteksthvid {
    font-size: 300%;
    text-align: center;
    color: white;
    padding-top: 3%
}

#findos {
     font-size: 330%;
    text-align: center;
    color: white;
    
    background-color: black;
    width: 30%;
    margin: 5% auto;
    border: solid white 2px;
}
.bg2 div{
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    padding-top: 0;
 
}
.alpha{
        background-color: rgba(0,0,0,0.4);
}

.bg2 {
    background-image: url(../images/pladebillede.jpg);
    padding-top: 50px;
}



/*MEDIA QUERY MOBILE */

@media all and (max-width: 599px) {
    
}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {
    
}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {
    
}