* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header img{
    position: absolute;
    z-index: 10;
}
.headerindhold nav{
    right: 0px;
    z-index: 0;
    position: absolute;
    color: white;
    font-size: 1.5em;
    top: 0;   
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
}
#main-nav a {
    color: white;
    text-decoration: none;
}
#main-nav {
    
    display: flex;
    margin-right: .5em;
    list-style: none;
}
#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}
.hidden {
    display: none;
}
#main-nav a:hover {
    color: lightgrey;
}

#toptekstur {
    width: 100%;
    z-index: 0;
}

.paralax {
    width: 100%;
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}
.logo{
    width: 25%;
}

.bg1 {
    background-image: url(../images/forsidebillede1.jpg);
}


#forsideslogan {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    font-size: 400%;
    width: 100%;
    text-align: center;
}

.spacer {
    color: white;
    background-color: black;
    width: 100%;
    height: 60px;
    text-align: center;
       
}

.material-icons {
     
}
.spacer i{
    font-size: 4em;
}



.overskrift {
    font-size: 300%;  
    text-align: center;
}

.overskrifthvid {
    font-size: 300%;  
    text-align: center;
    color: white;
    padding-top: 4%
    
}

.broedtekst {
    font-size: 150%;
    text-align: center;
}

.broedteksthvid {
    font-size: 300%;
    text-align: center;
    color: white;
    padding-top: 3%
}

#findos {
     font-size: 330%;
    text-align: center;
    color: white;  
    background-color: black;
    width: 30%;
    max-width: 300px;
    margin: 5% auto;
    border: solid white 2px;
}
.bg2 div{
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding: 25px;
    padding-top: 0;
 
}
.alpha{
        background-color: rgba(0,0,0,0.4);
}

.bg2 {
    background-image: url(../images/pladebillede.jpg);
    padding-top: 50px;
}



/*MEDIA QUERY MOBILE */

@media all and (max-width: 599px) {
    .logo{
        width: 50%;
    }
    
    #logo-burger label {
        display: block;
        cursor: pointer;
        z-index: 2;
        color: white;
        font-size: 3em;
        position: absolute;
        background-color: black;
        right: 2px;
        top: 0; 
        border: white solid 2px;
        border-radius: 10%;
        width: 60px;
        height: 60px;
        text-align: center;

    }
        #toggle:checked + #main-nav {
        display: block;
    }
      #main-nav{
        display: none;
    }
       nav li {
           text-align: center;
           border-bottom: white solid 3px;
           z-index: 999;
   
    }
    nav ul{
        margin-top: 50px;
        z-index: 999;
        
    }
    nav{
        width: 100%;
        background-color: black;
       
    }
    .headerindhold nav{
        z-index: 1;
    }

    
    
    #toptekstur{
        height: 10%;       
    }
    .paralax{
        min-height: 600px;
    }
    
}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {
    .headerindhold nav{
        font-size: 1em;
    }
}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {
    .headerindhold nav{
        font-size: 2em;
    }
}